body {
    background-color: rgb(222, 184, 135);
}
#wrapper{
    position: relative;
    text-align: center;
    font-size: 18pt;
    color: rgb(54, 35, 0);
    min-width: 920px;
}
#inputBox {
    border: 2px solid rgb(114, 87, 52);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    outline: none;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
#outputDiv{
    position: relative;
    margin: auto;
    width: 40%;
    height: 500px;
    border-radius: 5px;
    background: rgb(192, 159, 116);
    overflow-wrap: anywhere;
    overflow: hidden;
    padding: 20px;
    min-width: 350px;
}
#output{
    display: none;
    position: absolute;
    transform:translate(-50%, -50%);
    width:fit-content;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    background: rgb(212, 212, 165);
}
#title{
    padding: 15px;
}
#probDiv{
    position: absolute;
    left: 1%;
    top: 0px;
    width: 25%;
    height: 80%;
    text-align: left;
    min-width: 250px;
}
.prob{
    padding: 10px;
    font-size: 13pt;
    width: fit-content;
}
.prob:hover{
    border-radius: 50px;
    background:rgb(172, 143, 105);
    cursor: pointer;
}
#probList{
    list-style-type: none;
    padding: 0px;
}
#currentTitle{
    position: relative;
    margin: auto;
}