body {
    background-color: rgb(222, 184, 135);
}
#wrapper{
    position: relative;
    text-align: center;
    font-size: 18pt;
    color: rgb(54, 35, 0);
}
#outputDiv{
    position: relative;
    margin: auto;
    width: 85%;
    height: 500px;
    border-radius: 5px;
    background: rgb(192, 159, 116);
}
#output{
    display: none;
    position: absolute;
    transform:translate(-50%, -50%);
    width:fit-content;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    background: rgb(212, 212, 165);
}
#title{
    padding: 15px;
}